.footer {
  background-color: black;
  color: white;
  padding: 1em;
  .footer__container {
    display: flex;
    // flex-direction: column;
    justify-content: space-around;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    li {
      margin: 0.2em 0;
    }
    a {
      text-decoration: none;
      color: white;
      opacity: 0.5;
      text-transform: capitalize;
    }
  }
}
.footer__icons {
  display: flex;
  .icon__container {
    display: flex;
    gap: 1em;
    align-self: flex-end;
    margin-bottom: 1em;
  }
  .icon {
    display: block;
    width: 24px;
    height: 24px;
    background: white;
    opacity: 0.8;
    border-radius: 50%;
  }
}
